<html>
        <head>
          <title>Emails</title>
        </head>
        <body>
          
          <h2>Emails</h2>
          <p>SUCCESS!</p>

          <!-- we can use the line below to see all of our data in our template -->
            <h1>list of emails</h1>
            <!-- with all the data we can then construct a more structured output -->
            {% for emails in all_emails: %}
            <p>ID: {{ emails['id'] }}</p>
            <p>First Name: {{ emails['emailaddress'] }}</p>
            {% endfor %}
        </body>
        </html>